#actions {
    height: 180px;
    background-color: dodgerblue;
    color: white;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        li {
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.25rem;
            flex-basis: calc(25% - 1.25rem);
            height: 60%;
            cursor: pointer;

            img {
                width: 5rem;
                height: auto;

            }

            a {
                color: white;
                font-size: x-large
            }
        }
    }
}