footer {
    height: 800px;

    .footer-top {
        height: 80%;
        background-image: url(../img/footer-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        height: 100%;

        .col {
            flex-basis: 50%;
            display: flex;
            font-size: 1.25rem;
            gap: 5rem;
            height: 100%;
            overflow: hidden;

            ul li {
                margin: 10px 0;
                list-style-type: none;

                a {
                    color: rgb(161, 161, 161);
                }
            }

            figure {
                width: 100%;
                text-align: end;

                img {
                    overflow: hidden;
                }
            }

            h2 {
                margin: 50px 0 25px 0;
            }
        }
    }

    .footer-bottom {
        background-color: #303030;
        height: 20%;

        .row {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .col {
                display: flex;
                align-items: center;
                gap: 2rem;
                font-size: 1.25rem;
                text-transform: uppercase;
                color: rgb(16, 120, 224);

                .btn {
                    background-color: transparent;
                    font-size: 1.25rem;
                    padding: 15px;
                    border: 3px solid rgb(16, 120, 224);
                    color: white;
                    text-transform: uppercase;
                }

            }

            .col:last-child {
                flex-basis: 28%;
            }
        }
    }
}